{% extends "base.html" %}

{% block main_block %}

<div class="admin" style="padding-right:50px;padding-left: 50px;padding-top: 20px;padding-bottom: 20px; ">
    <div class="row signup-container">
        <div class="col-md-6 signup-left">
            <h2 class="text-center"><strong>Admin Sign-Up</strong></h2>
            <form id="adminSignupForm" method="POST">
                <div class="mb-3">
                    {#<label for="adminName" class="form-label"> Name </label>#}
                    <input type="text" name="adminName" class="form-control" id="adminName" required placeholder="Name">
                </div>
                <div class="mb-3">
                    {#<label for="adminEmail" class="form-label"> Email </label>#}
                    <input type="email" name="adminEmail" class="form-control" id="adminEmail" required
                        placeholder="Email">
                </div>
                <div class="mb-3">
                    {#<label for="adminPhone" class="form-label"> Phone Number </label>#}
                    <input type="tel" name="adminPhone" class="form-control" id="adminPhone" required maxlength="10"
                        minlength="10" placeholder="Phone Number">
                </div>
                <div class="mb-3">
                    {#<label for="adminGender" class="form-label">Gender</label>#}
                    <select class="form-select" name="adminGender" id="adminGender" required>
                        <option value="">Select Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
                <div class="mb-3">
                    {#<label for="adminEmpID" class="form-label">Admin ID</label>#}
                    <input type="text" name="adminEmpID" class="form-control" id="adminEmpID" required
                        placeholder="Admin ID">
                </div>
                <div class="mb-3">
                    {#<label for="password" class="form-label">Password</label>#}
                    <input type="password" name="password" class="form-control" id="password" required
                        placeholder="Password">
                </div>
                <div class="mb-3">
                    {#<label for="confirmPassword" class="form-label">Confirm Password</label>#}
                    <input type="password" name="confirmPassword" class="form-control" id="confirmPassword" required
                        placeholder="Confirm Password">
                </div>
                <button type="submit" class="btn btn-primary w-100"> Sign Up </button>
            </form>
            <p class="text-center mt-3">Have an account? <a href="#">Sign In</a></p>
        </div>
        <div class="col-md-5 signup-right d-none d-md-block" style="padding: 10px;">
                <img src="{{url_for('static',filename='/images/interior.jpg')}}" alt="interior logo" width="700px" height="500px">
        </div>
    </div>
</div>


{% endblock %}