{% extends "base.html" %}

{% block main_block %}


<div class="container">
    <div class="signup-container">
        <h2 class="text-center">Admin Sign-Up</h2>
        <form id="adminSignupForm" method="GET">
            <div class="mb-3">
                <label for="adminName" class="form-label"> Full Name </label>
                <input type="text" name="adminName" class="form-control" id="adminName" required placeholder="Enter Full Name">
            </div>
            <div class="mb-3">
                <label for="adminEmail" class="form-label"> Email Address </label>
                <input type="email" name="adminEmail" class="form-control" id="adminEmail" required placeholder="Enter Email Address">
            </div>
            <div class="mb-3">
                <label for="adminGender" class="form-label">Gender</label>
                <select class="form-select" name="adminGender" id="adminGender" required>
                    <option value="">Select Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="adminPhone" class="form-label"> Phone Number </label>
                <input type="tel" name="adminPhone"class="form-control" id="adminPhone" required maxlength="10" minlength="10"
                    placeholder="Enter Phone Number">
            </div>
            <div class="mb-3">
                <label for="adminPassword" class="form-label"> Password </label>
                <input type="password" name="adminPassword" class="form-control" id="adminPassword" required placeholder="Enter Password">
            </div>
            <div class="mb-3">
                <label for="confirmAdminPassword" class="form-label"> Confirm Password </label>
                <input type="password" name="confirmAdminPassword" class="form-control" id="confirmAdminPassword" required
                    placeholder="Confirm Password">
            </div>
            <button type="submit" class="btn btn-primary w-100"> Sign Up </button>
        </form>
    </div>
</div>


{% endblock %}