<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='CSS/Landing.css')}}">
</head>
<body>
    <div class="conect_full">
    <div class="container_connect">
        <div class="inner_box">
            <img src="{{ url_for('static',filename='images/travellers.jpg')}}">
            <h2 id="cc_heading">Connect with Travellers </h2>
            <p id="cc_para"> Explore something new </p>
            <img class="cc_img_i"  src="{{ url_for('static',filename='images/backpacking-S-Asia.webp')}}">
            <img class="cc_img" src="{{ url_for('static',filename='images/backpacking-vietnam-thumb.webp')}}">
            <img class="cc_img" src="{{ url_for('static',filename='images/mysore.png')}}">
            <img class="cc_img" src="{{ url_for('static',filename='images/traveller.jpg')}}">
            <img class="cc_img" src="{{ url_for('static',filename='images/spain.jpg')}}">
            <img class="cc_img_ii"  src="{{ url_for('static',filename='images/backpacking-S-Asia.webp')}}">
        </div>


        <img src="{{ url_for('static',filename='images/circle2.jpg')}}" class="circles2"> 
        <img src="{{ url_for('static',filename='images/circle3.jpg')}}" class="circles3">
        <img src="{{ url_for('static',filename='images/circle4.jpg')}}" class="circles4">
        <img src="{{ url_for('static',filename='images/circle5.jpg')}}" class="circles5">
        <img src="{{ url_for('static',filename='images/circle6.jpg')}}" class="circles6">
        <img src="{{ url_for('static',filename='images/circle7.jpg')}}" class="circles7"> 
        <img src="{{ url_for('static',filename='images/circle8.jpg')}}" class="circles8">
        <img src="{{ url_for('static',filename='images/circle9.jpg')}}" class="circles9">
        <img src="{{ url_for('static',filename='images/circle1.jpg')}}" class="circles">
        
        <div class="connect_text">
        <h1 id="connect_text1">See</h1>
        <h1  id="connect_text2">Who's</h1>
        <h1  id="connect_text3">Going</h1>

        <button id="connect_btn" type="submit">Let's Connect</button>
        </div>
 
    </div>

      <div class="connect_section2">
        <div class="pamp pamp1">
            <img class="profile_img1" src="{{ url_for('static',filename='/images/profile.jpg')}}">
        </div>
        <div class="pamp pamp2"></div>
        <div class="pamp pamp3">hi</div>
      </div>
   </div>


   
</body>
</html>
