{% extends "base.html" %}

{% block styles %}

 <link rel="stylesheet" href="{{url_for('static',filename='CSS/Landing.css')}}">

{% endblock %}

{% block main_block %}

  <div class="container_connect">
    <div class="traveller">
        <div class="img "><img class="image_traveller" src="{{ url_for('static',filename='/images/circle2.jpg')}}"></div>
        <div class="text">
            <h2> Connect With Zoey </h2>
            <p> Travelling to Mumbai </p>
                <button id="button_connect" type="submit" id="zoey"> Send Mail
                <p> Contact at zoey@gmail.com </p>
                </button>
        
        </div>
    </div>

    <div class="traveller">
        <div class="img "><img class="image_traveller" src="{{ url_for('static',filename='/images/circle3.jpg')}}"></div>
        <div class="text">
            <h2> Connect With Haina </h2>
            <p> Travelling to Mumbai </p>
            <a href="https://www.google.com/intl/en-GB/account/about/"> 
            <p> Contact at zoey@gmail.com </p>
            </a>
        
        </div>
    </div>

    <div class="traveller">
        <div class="img "><img class="image_traveller" src="{{ url_for('static',filename='/images/circle4.jpg')}}"></div>
        <div class="text">
            <h2> Connect With Dimani </h2>
            <p> Travelling to Mumbai </p>
            <p> Contact at zoey@gmail.com </p>
        
        </div>
    </div>


    <div class="traveller">
        <div class="img "><img class="image_traveller" src="{{ url_for('static',filename='/images/circle5.jpg')}}"></div>
        <div class="text">
            <h2> Connect With Ronica </h2>
            <p> Travelling to Mumbai </p>
            <p> Contact at zoey@gmail.com </p>
        
        </div>
    </div>


    <div class="traveller">
        <div class="img "><img class="image_traveller" src="{{ url_for('static',filename='/images/circle6.jpg')}}"></div>
        <div class="text">
            <h2> Connect With Panio </h2>
            <p> Travelling to Mumbai </p>
            <p> Contact at zoey@gmail.com </p>
        
        </div>
    </div>


    <div class="traveller">
        <div class="img "><img class="image_traveller" src="{{ url_for('static',filename='/images/circle7.jpg')}}"></div>
        <div class="text">
            <h2> Connect With Shriya </h2>
            <p> Travelling to Mumbai </p>
            <p> Contact at zoey@gmail.com </p>
        
        </div>
    </div>


    <div class="traveller">
        <div class="img "><img class="image_traveller" src="{{ url_for('static',filename='/images/circle8.jpg')}}"></div>
        <div class="text">
            <h2> Connect With Renni </h2>
            <p> Travelling to Mumbai </p>
            <p> Contact at zoey@gmail.com </p>
        
        </div>
    </div>


    <div class="traveller">
        <div class="img "><img class="image_traveller" src="{{ url_for('static',filename='/images/circle9.jpg')}}"></div>
        <div class="text">
            <h2> Connect With Smriti </h2>
            <p> Travelling to Mumbai </p>
            <p> Contact at zoey@gmail.com </p>
        
        </div>
    </div>


  </div>
{% endblock %}

