{% extends 'base.html' %}


{% block styles %}
    <link rel="stylesheet" href="{{url_for('static',filename='CSS/Landing.css')}}">
{% endblock %}


{% block main_block %}
   <div class="container_destidirect">
        <div class="section1">
            <div class="destidirect_home1 position-relative">
                <img class="img1 img-fluid" src="{{ url_for('static', filename=desti.image) }}">
                <h1 class="desti_heading position-absolute  translate-middle text-white bg-dark bg-opacity-50 px-3 py-2 rounded">
                    {{ desti.title }}
                </h1>
            </div>
        </div>
        
        <br><br><br>
        

        <div class="body_section">

        <div class="section2">
        <div class="destidirect_home">
            <img class="img2" src="{{ url_for('static', filename=desti.image2) }}">
        </div>

        <div class="description">
            <p id="desti_para"> {{ desti.para }} </p>
            <div class="elements">
            <h4 id="desti_para2"> {{ desti.price }}</h4>
            <button id="desti_button" type="submit">View -> </button>
            </div>
        </div>

        </div>

        <br><br><br>

       

    </div>
    </div>
    
{% endblock %}

