{% extends 'base.html' %}


{% block styles %}
    <link rel="stylesheet" href="{{url_for('static',filename='CSS/Landing.css')}}">
{% endblock %}


{% block main_block %}
   <div class="container_destidirect">
        <div class="section1">
            <div class="destidirect_home1 position-relative">
                <img class="img1 img-fluid" src="{{ url_for('static', filename=desti.image) }}">
                <h1 class="desti_heading position-absolute  translate-middle text-white bg-dark bg-opacity-50 px-3 py-2 rounded">
                    Stays At Alleppey
                </h1>
            </div>
        </div>
        
        <br><br><br>
        

        <div class="body_section">

        <div class="section2">
        <div class="destidirect_home">
            <img class="img2" src="{{ url_for('static', filename='images/destihostel1.jpg') }}">
        </div>

        <div class="description">
            <p id="desti_para">Zostel Alleppey
              Situated right at the scenic Alappuzha Beach, Zostel Alleppey is a happening backpackers' hostel ideal for exploring the town and its backwaters. A white-coloured building surrounded by swaying palm trees invites you to a dreamy beach vacation here.</p>
            
            <div class="elements">
            <h4 id="desti_para2"> Starting from ₹699</h4>
            <button id="desti_button" type="submit">View -> </button>
            </div>
        </div>

        </div>

        <br><br><br>

        <div class="section2">
            <div class="destidirect_home">
                <img class="img2" src="{{ url_for('static', filename='images/destihostel1.jpg') }}">
            </div>
    
            <div class="description">
                <p id="desti_para">Zostel Alleppey
                  Situated right at the scenic Alappuzha Beach, Zostel Alleppey is a happening backpackers' hostel ideal for exploring the town and its backwaters. A white-coloured building surrounded by swaying palm trees invites you to a dreamy beach vacation here.</p>
                
                <div class="elements">
                <h4 id="desti_para2"> Starting from ₹699</h4>
                <button id="desti_button" type="submit">View -> </button>
                </div>
            </div>
    
            </div>

        </div>

        <br><br><br>


        <div class="section2">
            <div class="destidirect_home">
                <img class="img2" src="{{ url_for('static', filename='images/destihostel1.jpg') }}">
            </div>
    
            <div class="description">
                <p id="desti_para">Zostel Alleppey
                  Situated right at the scenic Alappuzha Beach, Zostel Alleppey is a happening backpackers' hostel ideal for exploring the town and its backwaters. A white-coloured building surrounded by swaying palm trees invites you to a dreamy beach vacation here.</p>
                
                <div class="elements">
                <h4 id="desti_para2"> Starting from ₹699</h4>
                <button id="desti_button" type="submit">View -> </button>
                </div>
            </div>
    
        </div>
       
        <br><br><br>

        <div class="section2">
            <div class="destidirect_home">
                <img class="img2" src="{{ url_for('static', filename='images/destihostel1.jpg') }}">
            </div>
    
            <div class="description">
                <p id="desti_para">Zostel Alleppey
                  Situated right at the scenic Alappuzha Beach, Zostel Alleppey is a happening backpackers' hostel ideal for exploring the town and its backwaters. A white-coloured building surrounded by swaying palm trees invites you to a dreamy beach vacation here.</p>
                
                <div class="elements">
                <h4 id="desti_para2"> Starting from ₹699</h4>
                <button id="desti_button" type="submit">View -> </button>
                </div>
            </div>
    
        </div>

        <br><br><br>



    </div>
    </div>
    
{% endblock %}

