{% extends 'base.html' %}

{% block main_block %}
<div class="container">
    <div class="header">
        <h1>Travel Tips & Adventure Advice</h1>
        <p>Don't miss our backpacker blog, penned by travel experts to assist your adventures!</p>
    </div>

    <div class="blog-carousel">
        <a href="{{ url_for('blog_page', blog_id='backpacking-asia') }}" class="blog-card">
            <img src="{{ url_for('static', filename='images/backpacking-S-Asia.webp') }}" alt="Backpack">
            <h5>Backpackers Guide To South East Asia</h5>
        </a>

        <a href="{{ url_for('blog_page', blog_id='backpacking-laos') }}" class="blog-card">
            <img src="{{ url_for('static', filename='images/backpacking-laos-thumb.webp') }}" alt="Backpack">
            <h5>How To Backpack Around Laos</h5>
        </a>

        <a href="{{ url_for('blog_page', blog_id='backpacking-vietnam') }}" class="blog-card">
            <img src="{{ url_for('static', filename='images/backpacking-vietnam-thumb.webp') }}" alt="Backpack">
            <h5>Backpacker's Guide To Travel Around Vietnam</h5>
        </a>

        <a href="{{ url_for('blog_page', blog_id='backpacking-europe') }}" class="blog-card">
            <img src="{{ url_for('static', filename='images/backpacking-europe-thumb-image.webp') }}" alt="Backpack">
            <h5>Complete Guide To Backpacking Europe</h5>
        </a>

        <a href="{{ url_for('blog_page', blog_id='interrail-destinations') }}" class="blog-card">
            <img src="{{ url_for('static', filename='images/interrail-thumb.jpg') }}" alt="Backpack">
            <h5>This Year's Best Interrail Destinations</h5>
        </a>

        <a href="{{ url_for('blog_page', blog_id='solo-travel-spain') }}" class="blog-card">
            <img src="{{ url_for('static', filename='images/solo-travel-in-spain-thumb.jpg') }}" alt="Backpack">
            <h5>Solo Travel In Spain</h5>
        </a>
    </div>
</div>
{% endblock %}
